/* CSS Document */
h1 { color: #47B5FF;}
h2 { color: #47B5FF;}
h3 { color: #47B5FF;}
h4 { color: #256D85;}
h5 { color: #256D85;}
h6 { color: #256D85;}
body{
	background-color: #06283D;
	color: #DFF6FF
	}